.review-food{
    display: flex;
    text-align: center;
    margin: 20px 20px;
    background-color: rgb(246, 238, 238);
    border-radius: 15px;
    width: 50%;
}
.review-food img{
    width: 40%;
    height: 40%;
}
